<main #chatContainer class="chat-container">
    <div *ngIf="!chatHistory.length" class="intros">
        <app-logo class="intro"></app-logo>
        <h1 class="intro">AI Pörtfolio</h1>
    </div>
    <div *ngFor="let message of chatHistory; let i = index"
        [ngClass]="{
            'flex-right': message.role === 'user',
            'flex-left': message.role === 'model'
        }"
        class="chat-row"
    >
        <div [ngClass]="message.role"
            class="chat">
            <p class="whitespace-pre-wrap">{{ message.text }}</p>
        </div>
    </div>
    <app-set-personal *ngIf="signalPersona"></app-set-personal>
    <app-set-project *ngIf="signalProjekt"></app-set-project>
    <app-set-skills *ngIf="signalCompetenze"></app-set-skills>
    <app-set-contact *ngIf="signalKontakt"></app-set-contact>
    <div *ngIf="loading" class="loading">
        <app-loading></app-loading>
    </div>
    <!-- <div #messagesEnd></div> -->
    <app-graviti-star *ngIf="loading"></app-graviti-star>
</main>