/*********************************************
* Colors
*********************************************/

// Red
$red-50:  #fff0f0;
$red-100: #ffdddd;
$red-200: #ffc0c0;
$red-300: #ff9494;
$red-400: #ff5757;
$red-500: #ff2323;
$red-600: #ff0505; // main
$red-700: #d70000;
$red-800: #b10303;
$red-900: #920a0a;
$red-950: #500000;

// Rose
$rose-50:  #fff0f9;
$rose-100: #ffe3f6;
$rose-200: #ffc6ee;
$rose-300: #ff98de;
$rose-400: #ff58c6;
$rose-500: #ff27ac;
$rose-600: #ff058a; // main
$rose-700: #df006b;
$rose-800: #b80058;
$rose-900: #98034c;
$rose-950: #5f0029;

// Electric Violet
$eviolet-50:  #f3f0ff;
$eviolet-100: #eae4ff;
$eviolet-200: #d8cdff;
$eviolet-300: #bca6ff;
$eviolet-400: #9c73ff;
$eviolet-500: #803bff;
$eviolet-600: #7414ff;
$eviolet-700: #6905ff; // main
$eviolet-800: #5601d6;
$eviolet-900: #4803af;
$eviolet-950: #2a0077;

// Malibu
$malibu-50:  #eff9ff;
$malibu-100: #dff2ff;
$malibu-200: #b8e8ff;
$malibu-300: #78d6ff;
$malibu-400: #3dc5ff; // main
$malibu-500: #06aaf1;
$malibu-600: #0088ce;
$malibu-700: #006ca7;
$malibu-800: #025b8a;
$malibu-900: #084c72;
$malibu-950: #06304b;

// Chartreuse
$chartreuse-50:  #f4ffe4;
$chartreuse-100: #e4ffc4;
$chartreuse-200: #cbff90;
$chartreuse-300: #a6ff50;
$chartreuse-400: #76ff03; // main
$chartreuse-500: #63e600;
$chartreuse-600: #4bb800;
$chartreuse-700: #388b00;
$chartreuse-800: #2f6d07;
$chartreuse-900: #2a5c0b;
$chartreuse-950: #113400;

// === Gray Scale ============ //
// Silver
$silver-50:  #f7f7f7;
$silver-100: #f0f0f0;
$silver-200: #e3e3e3;
$silver-300: #d1d1d1;
$silver-400: #c2c2c2;
$silver-500: #aaaaaa;
$silver-600: #969696;
$silver-700: #818181;
$silver-800: #6a6a6a;
$silver-900: #585858;
$silver-950: #333333;
