@font-face {
    font-family: 'Technocra';
    src: url( 'src/assets/fonts/Technocra.ttf' ) format( 'truetype' );
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conthrax';
    src: url( 'src/assets/fonts/Conthrax.otf' ) format( 'opentype' );
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Unageo';
    src: url( 'src/assets/fonts/Unageo.ttf' ) format( 'truetype' );
    font-weight: normal;
    font-style: normal;
}