<div class="trademark" [class]="responsive">
    &#64;{{ author }}
</div>
<main>
    <div class="chatbox">
        <app-chat [userInput]="userInput" (sendLoading)="getLoading( $event )"></app-chat>
    </div>
    <div class="inputbox" [class]="responsive" [class.disabled]="loading">
        <app-input [loading]="loading" (sendValue)="getValue( $event )"></app-input>
    </div>
    <div class="short-links">
        @for ( menu of menus; track menu ) {
            <app-button button direction="column" class="link">
                <img [src]="'assets/images/icon/' + menu + '.svg'" [alt]="menu">
                {{ menu | titlecase }}
            </app-button>
        }
    </div>
</main>