<div class="title">My Skills</div>
<h3>Programming</h3>
<p>I'm a front-end developer with a solid base in HTML, CSS, Bootstrap, and jQuery, and growing expertise in JavaScript, TypeScript, and Angular to build clean, dynamic, and user-friendly web apps.</p>
<div class="chart programming">
    <ngx-charts-bar-horizontal
        [results]="programming"
        [scheme]="programmingScheme"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [xAxisTicks]="[ 0, 20, 40, 60, 80, 100 ]"
        [legend]="true"
        [tooltipDisabled]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="Skill"
        yAxisLabel="Proficiency (%)"
    ></ngx-charts-bar-horizontal>
</div>
<p class="pagebreak">I'm refining my skills while exploring new tech, currently diving into Flutter to expand my front-end expertise into seamless cross-platform web and mobile experiences.</p>
<h3>Creative</h3>
<p>I blend creativity with usability to design engaging, intuitive interfaces. Here are my capabilities with the tools I use to bring those ideas to life.</p>
<div class="chart programming">
    <ngx-charts-polar-chart
        [results]="creative"
        [scheme]="creativeScheme"
        [animations]="true"
        [xAxis]="true"
        [xAxisTickFormatting]="formatXAxisTick"
        [roundDomains]="false"
        [roundDomains]="true"
        [curve]="curve"
    ></ngx-charts-polar-chart>
</div>